<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_4phn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_4phn.Properties.Settings>
            <setting name="Phone" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>26677</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MYSQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQLUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MYSQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxHistoryRow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SoundPath" serializeAs="String">
                <value />
            </setting>
        </_4phn.Properties.Settings>
    </userSettings>
</configuration>